<div class="login-box">

  <h2>Login</h2>

  <form id="login-form" class="pure-form pure-form-stacked">

      <label for="email-login">Email:</label>
      <input class="form-input" type="text" id="email-login" />

      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />

      <button id="submit" class="pure-button pure-button-primary" type="submit">Login</button>

      <button id="new-user" class="pure-button pure-button-primary" onclick="window.location.href='/newuser';">Signup</button>

  </form>


  <script src="/js/login.js"></script>

</div>