<div class="post-container">

    <div class="post-box">

        <label class="title-bar" for="post-title">Title:</label>
        <input id="new-post-title">

        <label class="title-bar" for="post-content">Content:</label>
        <textarea id="post-content" name="post-content"></textarea>

        <button id="submit" class="pure-button pure-button-primary" type="submit">Submit</button>

    </div>
    
</div>

<script src="/js/createPost.js"></script>