<div class="post-container">
    <form id="post-form" class="pure-form pure-form-stacked post-box">

        <label class="title-bar" for="post-title">Title:</label>
        <input class="pure-input" id="new-post-title">

        <label class="title-bar" for="post-content">Content:</label>
        <textarea class="pure-input textarea" id="post-content" name="post-content"></textarea>

        <button id="submit" class="pure-button pure-button-primary" type="submit">Submit</button>

    </form>
</div>

<script src="/js/createPost.js"></script>