<div class="comment-container">

    <div class="comment-box">

        <label id="comment-title" class="title-bar" for="comment-content">Comment</label>
        <textarea id="comment-text" name="comment-content">{{ comment.content }}</textarea>

        <button id="submit" class="pure-button pure-button-primary" type="submit" data-id="{{ comment.id }}" data-blog="{{ comment.blog_id }}">Submit</button>

    </div>

</div>

<script src="/js/updateComment.js"></script>