/* main.handlebars */
* {
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

main {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 25px;
}

.header-title {
    padding: 10px;
    background-color: black;
    color: aqua;
    border-radius: 5%;
    box-shadow: blue 5px 5px;
}

.header-page {
    padding: 10px;
}

.nav-menu {
    font-size: 1.25rem;
    margin-left: 25px;
}

#nav-menu-vertical {
    display: none;
}

/* login.handlebars styling */
.login-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#submit {
    margin-top: 15px;
}

#new-user {
    margin-top: 15px;
}

.new-user-header {
    text-align: center;
    flex: 0 0 100%;
}

.signup-form {
    margin-top: 25px;
}

/* homepage.handlebars styling */
.post-container, .comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.post-box, .comment-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    width: 100%;
    margin: 10px 0;
}

.title-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    flex: 0 0 100%;
    background-color: black;
    padding: 10px;
    color: aqua;
    margin: 0 !important;
}

.title-bar h2, #comment-title {
    background-color: black;
    color: aqua;
}

.title {
    display: inline-flex;
    margin-left: 10px;
}

#no-posts-bar {
    justify-content: center;
}

.created-by {
    display: inline-flex;
    text-align: center;
    margin: 10px;
}

.content-box {
    flex: 0 0 95%;
    padding: 10px;
    white-space: pre-line;
}

.comment-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#new-post-title {
    flex: 0 0 95%;
    margin: 0 !important;
    outline: none;
    border: none;
    padding: 10px 0;
}

#comment-text, .textarea, #post-content {
    flex: 0 0 95%;
    min-height: 100px;
    margin: 15px 0 !important;
}

#submit, #new-user {
    margin: 0 !important;
    background: black;
    color: aqua;
}

.comment-buttons, .post-buttons {
    background-color: black;
}

#comment-submit, .comment-delete, .comment-update, .post-update, .post-delete {
    margin-right: 10px;
    background-color: aqua;
}

textarea {
    outline: none;
    border: none !important;
}

#new-post-button {
    background-color: black;
    color: aqua;
    margin: 25px 0;
}

footer {
    margin: 50px;
}

#github-footer {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header-title, .header-page {
        margin: 10px;
    }

    .header-page {
        font-size: 2rem;
    }

    .title-bar {
        justify-content: space-evenly;
    }

    .comment-buttons {
        margin-top: 10px;
    }

    .content-box, #new-post-title, #post-content {
        flex: 0 0 90%;
    }

    nav {
        overflow: scroll;
    }
}